Repository ZeiZel/self-hosted: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, kubeval, ansible-syntax, sops-check

helm-lint:
  name: Helm lint
  entry: bash -c 'for chart in kubernetes/charts/*/; do helm lint "$chart" || exit 1; done'
  language: system
  pass_filenames: false

kubeval:
  name: Kubeval
  entry: bash -c 'for chart in kubernetes/charts/*/; do helm template "$chart" 2>/dev/null | kubeval --strict --ignore-missing-schemas || exit 1; done'
  language: system
  pass_filenames: false

ansible-syntax:
  name: Ansible syntax check
  entry: bash -c 'cd ansible && ansible-playbook --syntax-check -i inventory/hosts.ini all.yml'
  language: system
  pass_filenames: false

sops-check:
  name: SOPS encryption check
  entry: bash -c 'if [ -f kubernetes/envs/k8s/secrets/_all.yaml ]; then sops -d kubernetes/envs/k8s/secrets/_all.yaml > /dev/null || exit 1; fi'
  language: system
  pass_filenames: false

fix(cli): resolve TypeScript errors and complete all CLI tasks
  .beads/issues.jsonl
  cli/package.json
  cli/src/__tests__/mocks/database.mock.ts
  cli/src/__tests__/unit/database/database.service.spec.ts
  cli/src/__tests__/unit/database/entities/deployment.entity.spec.ts
  cli/src/__tests__/unit/database/entities/machine.entity.spec.ts
  cli/src/__tests__/unit/database/entities/metric.entity.spec.ts
  cli/src/__tests__/unit/database/entities/service-config.entity.spec.ts
  cli/src/__tests__/unit/interfaces/machine.interface.spec.ts
  cli/src/__tests__/unit/interfaces/monitor.interface.spec.ts
  cli/src/database/database.service.ts
  cli/src/database/repositories/deployment.repository.ts
  cli/src/database/repositories/machine.repository.ts
  cli/src/database/repositories/metric.repository.ts
  cli/src/database/repositories/service-config.repository.ts
  cli/src/modules/balancing/balancing.service.ts
  cli/src/modules/monitor/apis/endpoint-checker.ts
  cli/src/modules/monitor/apis/prometheus.client.ts
  cli/src/modules/monitor/apis/vault.client.ts
  cli/src/modules/monitor/tui/ink-tui.service.ts
  cli/src/modules/monitor/tui/tui.service.ts
  cli/src/modules/ui/table.service.ts
Due: none

feat(deploy): implement CLI infrastructure deployment architecture
  .beads/issues.jsonl
  .docs/arch-rules.md
  .docs/architecture.md
  AGENTS.md
  ansible/all.yml
  ansible/roles/infrastructure/tasks/apps.yml
  ansible/roles/infrastructure/tasks/databases.yml
  cli/src/commands/deploy.command.ts
  kubernetes/.helmfile/repositories.yaml
  kubernetes/apps/_others.yaml
  kubernetes/charts/bytebase/values.yaml
  kubernetes/charts/glance/values.yaml
  kubernetes/releases/bytebase.yaml.gotmpl
Due: helm-lint, ansible-syntax

fix: resolve deployment issues across multiple services
  kubernetes/charts/bytebase/templates/networkpolicy.yaml
  kubernetes/charts/coder/templates/networkpolicy.yaml
  kubernetes/charts/excalidraw/templates/networkpolicy.yaml
  kubernetes/charts/ghost/templates/networkpolicy.yaml
  kubernetes/charts/hub/templates/deployment.yaml
  kubernetes/charts/hub/templates/networkpolicy.yaml
  kubernetes/charts/metube/templates/networkpolicy.yaml
  kubernetes/charts/pangolin/templates/networkpolicy.yaml
  kubernetes/charts/rybbit/templates/networkpolicy.yaml
  kubernetes/charts/stalwart/templates/networkpolicy.yaml
  kubernetes/charts/stoat/templates/networkpolicy.yaml
  kubernetes/charts/supabase/templates/networkpolicy.yaml
  kubernetes/charts/syncthing/templates/networkpolicy.yaml
  kubernetes/charts/teamcity/templates/networkpolicy.yaml
  kubernetes/charts/vault/templates/configmap.yaml
  kubernetes/charts/vault/templates/networkpolicy.yaml
  kubernetes/charts/vault/templates/statefulset.yaml
  kubernetes/charts/vault/values.yaml
  kubernetes/charts/vaultwarden/templates/networkpolicy.yaml
  kubernetes/charts/vert/templates/networkpolicy.yaml
  kubernetes/charts/youtrack/templates/networkpolicy.yaml
  kubernetes/envs/k8s/values/_all.yaml.gotmpl
  kubernetes/releases/affine.yaml.gotmpl
  kubernetes/releases/authentik.yaml.gotmpl
  kubernetes/releases/bytebase.yaml.gotmpl
  kubernetes/releases/coder.yaml.gotmpl
  kubernetes/releases/devtron.yaml.gotmpl
  kubernetes/releases/gitlab.yaml.gotmpl
  kubernetes/releases/harbor.yaml.gotmpl
  kubernetes/releases/hub.yaml.gotmpl
  kubernetes/releases/kestra.yaml.gotmpl
  kubernetes/releases/n8n.yaml.gotmpl
  kubernetes/releases/nextcloud.yaml.gotmpl
  kubernetes/releases/penpot.yaml.gotmpl
  kubernetes/releases/remnawave.yaml.gotmpl
  kubernetes/releases/rybbit.yaml.gotmpl
  kubernetes/releases/stalwart.yaml.gotmpl
  kubernetes/releases/supabase.yaml.gotmpl
  kubernetes/releases/teamcity.yaml.gotmpl
  kubernetes/releases/vaultwarden.yaml.gotmpl
Due: helm-lint, kubeval

feat(pangolin): add Pangolin VPS Docker deployment role
  .beads/issues.jsonl
  ansible/all.yml
  ansible/roles/kubespray/tasks/join-gateway.yml
  ansible/roles/pangolin_vps/README.md
  ansible/roles/pangolin_vps/defaults/main.yml
  ansible/roles/pangolin_vps/handlers/main.yml
  ansible/roles/pangolin_vps/meta/main.yml
  ansible/roles/pangolin_vps/tasks/main.yml
  ansible/roles/pangolin_vps/templates/config.yml.j2
  ansible/roles/pangolin_vps/templates/docker-compose.yml.j2
  ansible/roles/pangolin_vps/templates/dynamic.yml.j2
  ansible/roles/pangolin_vps/templates/env.j2
  ansible/roles/pangolin_vps/templates/pangolin-docker.service.j2
  ansible/roles/pangolin_vps/templates/traefik.yml.j2
Due: ansible-syntax

feat(deploy): add interactive TUI dashboard for deployment
  .docs/architecture.md
  cli/src/app.module.ts
  cli/src/commands/deploy.command.ts
  cli/src/modules/deploy/tui/components/ConfirmDialog.tsx
  cli/src/modules/deploy/tui/components/DeployApp.tsx
  cli/src/modules/deploy/tui/components/DeployFooter.tsx
  cli/src/modules/deploy/tui/components/DeployHeader.tsx
  cli/src/modules/deploy/tui/components/HelpOverlay.tsx
  cli/src/modules/deploy/tui/components/LogPanel.tsx
  cli/src/modules/deploy/tui/components/PhaseGroup.tsx
  cli/src/modules/deploy/tui/components/ProgressBar.tsx
  cli/src/modules/deploy/tui/components/TaskItem.tsx
  cli/src/modules/deploy/tui/components/TaskPanel.tsx
  cli/src/modules/deploy/tui/components/index.ts
  cli/src/modules/deploy/tui/deploy.module.ts
  cli/src/modules/deploy/tui/hooks/index.ts
  cli/src/modules/deploy/tui/hooks/useTerminalSize.ts
  cli/src/modules/deploy/tui/index.ts
  cli/src/modules/deploy/tui/interfaces/index.ts
  cli/src/modules/deploy/tui/interfaces/task.interface.ts
  cli/src/modules/deploy/tui/services/dag-manager.service.ts
  cli/src/modules/deploy/tui/services/deploy-tui.service.ts
  cli/src/modules/deploy/tui/services/index.ts
  cli/src/modules/deploy/tui/services/task-builder.service.ts
  cli/src/modules/deploy/tui/services/task-executor.service.ts
Due: none

fix(cli): resolve Bun module resolution errors with type exports
  cli/src/modules/deploy/tui/index.ts
  cli/src/modules/deploy/tui/interfaces/executor.interface.ts
  cli/src/modules/deploy/tui/interfaces/index.ts
  cli/src/modules/deploy/tui/services/index.ts
Due: none

bd init: initialize beads issue tracking
  .agents/skills/beads/SKILL.md
  .agents/skills/beads/agents/openai.yaml
  .beads/.gitignore
  .beads/config.yaml
  .beads/hooks/post-checkout
  .beads/hooks/post-merge
  .beads/hooks/pre-commit
  .beads/hooks/pre-push
  .beads/hooks/prepare-commit-msg
  .beads/metadata.json
  .claude/settings.json
  .claude/settings.local.json
  .codex/config.toml
  .codex/hooks.json
  .gitignore
  AGENTS.md
  CLAUDE.md
Due: none

feat(cli-go): port balancing engine + rich monitor TUI (A1, A2)
  .beads/interactions.jsonl
  cli-go/internal/balance/balance_test.go
  cli-go/internal/balance/persist.go
  cli-go/internal/balance/placement.go
  cli-go/internal/balance/service.go
  cli-go/internal/balance/strategies.go
  cli-go/internal/cluster/alerts.go
  cli-go/internal/commands/balance.go
  cli-go/internal/commands/misc.go
  cli-go/internal/commands/monitor.go
  cli-go/internal/commands/services.go
  cli-go/internal/tui/monitor.go
  kubernetes/apps/_others.yaml
  kubernetes/apps/ai.yaml
  kubernetes/apps/backup.yaml
  kubernetes/apps/services.yaml
  kubernetes/apps/storage.yaml
Due: none

feat(cli-go): inbound Telegram bot + deploy state machine (A3, A4)
  .beads/interactions.jsonl
  cli-go/internal/commands/bot.go
  cli-go/internal/commands/deploy.go
  cli-go/internal/daemon/run.go
  cli-go/internal/telegram/api.go
  cli-go/internal/telegram/bot.go
Due: none

feat(cli-go): services wizards, daemon predictions, smaller parity (A5-A7)
  .beads/interactions.jsonl
  cli-go/internal/commands/daemon.go
  cli-go/internal/commands/inventory.go
  cli-go/internal/commands/misc.go
  cli-go/internal/commands/net.go
  cli-go/internal/commands/services.go
  cli-go/internal/daemon/lifecycle.go
  cli-go/internal/daemon/predict.go
  cli-go/internal/daemon/run.go
Due: none

feat(charts): chart-base library + Gateway API foundation (C1, D1, D2)
  .beads/interactions.jsonl
  kubernetes/charts/chart-base/Chart.yaml
  kubernetes/charts/chart-base/README.md
  kubernetes/charts/chart-base/templates/_deployment.tpl
  kubernetes/charts/chart-base/templates/_helpers.tpl
  kubernetes/charts/chart-base/templates/_httproute.tpl
  kubernetes/charts/chart-base/templates/_networkpolicy.tpl
  kubernetes/charts/chart-base/templates/_rbac.tpl
  kubernetes/charts/chart-base/templates/_service.tpl
  kubernetes/charts/chart-base/templates/_servicemonitor.tpl
  kubernetes/charts/chart-base/values.yaml
  kubernetes/charts/glance/templates/httproute.yaml
  kubernetes/charts/glance/templates/ingress.yaml
  kubernetes/charts/namespaces/templates/gateway.yaml
  kubernetes/charts/namespaces/values.yaml
Due: helm-lint, kubeval

chore(verify): add local pre-phase script; install helmfile+helm-diff
  .beads/interactions.jsonl
  kubernetes/scripts/local-prephase.sh
Due: none

chore(beads): sync issue tracker (parity, chart-base, gateway, verify epics)
  .beads/interactions.jsonl
  .beads/issues.jsonl
Due: none

chore(beads): final issue tracker sync
  .beads/interactions.jsonl
  .beads/issues.jsonl
Due: none

feat(charts): rebuild chart-base as generic application subchart (CB1)
  .beads/interactions.jsonl
  kubernetes/charts/chart-base/Chart.yaml
  kubernetes/charts/chart-base/templates/_deployment.tpl
  kubernetes/charts/chart-base/templates/_helpers.tpl
  kubernetes/charts/chart-base/templates/_httproute.tpl
  kubernetes/charts/chart-base/templates/_podspec.tpl
  kubernetes/charts/chart-base/templates/_rbac.tpl
  kubernetes/charts/chart-base/templates/_service.tpl
  kubernetes/charts/chart-base/templates/configmaps.yaml
  kubernetes/charts/chart-base/templates/extramanifests.yaml
  kubernetes/charts/chart-base/templates/networkpolicy.yaml
  kubernetes/charts/chart-base/templates/observability.yaml
  kubernetes/charts/chart-base/templates/pvc.yaml
  kubernetes/charts/chart-base/templates/rbac.yaml
  kubernetes/charts/chart-base/templates/routing.yaml
  kubernetes/charts/chart-base/templates/secrets.yaml
  kubernetes/charts/chart-base/templates/services.yaml
  kubernetes/charts/chart-base/templates/tests.yaml
  kubernetes/charts/chart-base/templates/workloads.yaml
  kubernetes/charts/chart-base/values.yaml
Due: helm-lint, kubeval

feat(charts): convert glance to empty templates/ via chart-base (CB2 reference)
  .beads/interactions.jsonl
  kubernetes/.gitignore
  kubernetes/charts/glance/Chart.yaml
  kubernetes/charts/glance/templates/.gitkeep
  kubernetes/charts/glance/templates/_helpers.tpl
  kubernetes/charts/glance/templates/configmap.yaml
  kubernetes/charts/glance/templates/deployment.yaml
  kubernetes/charts/glance/templates/httproute.yaml
  kubernetes/charts/glance/templates/networkpolicy.yaml
  kubernetes/charts/glance/templates/pdb.yaml
  kubernetes/charts/glance/templates/pvc.yaml
  kubernetes/charts/glance/templates/rbac.yaml
  kubernetes/charts/glance/templates/service.yaml
  kubernetes/charts/glance/templates/serviceaccount.yaml
  kubernetes/charts/glance/templates/servicemonitor.yaml
  kubernetes/charts/glance/templates/tests/test-connection.yaml
  kubernetes/charts/glance/values.yaml
  kubernetes/releases/glance.yaml.gotmpl
Due: helm-lint, kubeval

docs(charts): document chart-base subchart pattern; sync beads
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .docs/architecture.md
  kubernetes/charts/chart-base/README.md
Due: none

feat(cli): close parity gaps — migration executor, daemon throttling/metrics/predictions, node cmd, TUI pod-detail, wizards
  .beads/interactions.jsonl
  cli/internal/balance/migrate.go
  cli/internal/commands/balance.go
  cli/internal/commands/config.go
  cli/internal/commands/inventory.go
  cli/internal/commands/misc.go
  cli/internal/commands/node.go
  cli/internal/commands/prompts.go
  cli/internal/commands/root.go
  cli/internal/daemon/predict.go
  cli/internal/daemon/run.go
  cli/internal/db/metrics.go
  cli/internal/db/metrics_test.go
  cli/internal/node/node.go
  cli/internal/telegram/alert.go
  cli/internal/telegram/telegram.go
  cli/internal/tui/monitor.go
  cli/internal/tui/poddetail.go
Due: none

test(cli): expand coverage (telegram, daemon predictor, cluster alerts, balance, commands)
  .beads/interactions.jsonl
  cli/internal/balance/persist_test.go
  cli/internal/cluster/alerts_test.go
  cli/internal/commands/services_test.go
  cli/internal/daemon/predict_test.go
  cli/internal/telegram/telegram_test.go
Due: none

chore(beads): sync — parity-gaps epic complete
  .beads/interactions.jsonl
  .beads/issues.jsonl
Due: none

feat(node+balance): production-grade node scale/remove + verified migrations
  .beads/interactions.jsonl
  ansible/remove-node.yml
  ansible/roles/kubespray/tasks/remove-node.yml
  ansible/scale.yml
  cli/internal/balance/migrate.go
  cli/internal/commands/node.go
  cli/internal/node/node.go
Due: ansible-syntax

chore(beads): sync — node/migrator hardening complete
  .beads/interactions.jsonl
  .beads/issues.jsonl
Due: none

chore(beads): sync — ansible fixes
  .beads/interactions.jsonl
  .beads/issues.jsonl
Due: none

Path conditions:
  helm-lint: any of: ^kubernetes/charts/.+/(Chart\.yaml|values\.yaml|templates/.+\.yaml)$
  kubeval: any of: ^kubernetes/charts/.+/templates/.+\.yaml$
  ansible-syntax: any of: ^ansible/.+\.yml$
  sops-check: any of: ^kubernetes/envs/.+/secrets/.+\.yaml$
