Repository ZeiZel/self-hosted: changes, and which pre-commit hooks are due for each by the changed paths.
All: helm-lint, kubeval, ansible-syntax, sops-check

helm-lint:
  name: Helm lint
  entry: bash -c 'for chart in kubernetes/charts/*/; do helm lint "$chart" || exit 1; done'
  language: system
  pass_filenames: false

kubeval:
  name: Kubeval
  entry: bash -c 'for chart in kubernetes/charts/*/; do helm template "$chart" 2>/dev/null | kubeval --strict --ignore-missing-schemas || exit 1; done'
  language: system
  pass_filenames: false

ansible-syntax:
  name: Ansible syntax check
  entry: bash -c 'cd ansible && ansible-playbook --syntax-check -i inventory/hosts.ini all.yml'
  language: system
  pass_filenames: false

sops-check:
  name: SOPS encryption check
  entry: bash -c 'if [ -f kubernetes/envs/k8s/secrets/_all.yaml ]; then sops -d kubernetes/envs/k8s/secrets/_all.yaml > /dev/null || exit 1; fi'
  language: system
  pass_filenames: false

chore(bd): close issues
  .beads/issues.jsonl
  .claude/settings.local.json
  .gitignore
  ansible/playbooks/vps-setup.yml
Due: ansible-syntax

feat: optimize host setup
  ansible/all.yml
  ansible/roles/setup_host/defaults/main.yml
  ansible/roles/setup_host/tasks/main.yml
  ansible/roles/setup_host/tasks/operations/homebrew.yml
  ansible/roles/setup_host/tasks/operations/ssh.yml
  ansible/roles/setup_host/tasks/operations/verify.yml
Due: ansible-syntax

feat(cli): add balancing and monitor modules
  .beads/issues.jsonl
  cli/bun.lock
  cli/package.json
  cli/src/app.module.ts
  cli/src/cli.ts
  cli/src/commands/balance.command.ts
  cli/src/commands/index.ts
  cli/src/commands/monitor.command.ts
  cli/src/interfaces/index.ts
  cli/src/interfaces/monitor.interface.ts
  cli/src/interfaces/placement.interface.ts
  cli/src/modules/balancing/balancing.module.ts
  cli/src/modules/balancing/balancing.service.ts
  cli/src/modules/balancing/constraints.service.ts
  cli/src/modules/balancing/index.ts
  cli/src/modules/balancing/migrator.service.ts
  cli/src/modules/balancing/presets.service.ts
  cli/src/modules/balancing/strategies/affinity.strategy.ts
  cli/src/modules/balancing/strategies/base.strategy.ts
  cli/src/modules/balancing/strategies/bin-packing.strategy.ts
  cli/src/modules/balancing/strategies/index.ts
  cli/src/modules/balancing/strategies/round-robin.strategy.ts
  cli/src/modules/balancing/strategies/spread.strategy.ts
  cli/src/modules/balancing/strategies/weighted.strategy.ts
  cli/src/modules/monitor/alerts.service.ts
  cli/src/modules/monitor/cluster-client.service.ts
  cli/src/modules/monitor/index.ts
  cli/src/modules/monitor/metrics-stream.service.ts
  cli/src/modules/monitor/monitor.module.ts
  cli/src/modules/monitor/monitor.service.ts
  cli/src/modules/monitor/tui/index.ts
  cli/src/modules/monitor/tui/panels/alerts.panel.ts
  cli/src/modules/monitor/tui/panels/index.ts
  cli/src/modules/monitor/tui/panels/migration.panel.ts
  cli/src/modules/monitor/tui/panels/nodes.panel.ts
  cli/src/modules/monitor/tui/panels/services.panel.ts
  cli/src/modules/monitor/tui/panels/summary.panel.ts
  cli/src/modules/monitor/tui/tui.service.ts
Due: none

feat: add telegram bot connection
  cli/src/app.module.ts
  cli/src/cli.ts
  cli/src/commands/bot.command.ts
  cli/src/core/constants.ts
  cli/src/daemon/daemon.module.ts
  cli/src/daemon/daemon.runner.ts
  cli/src/daemon/daemon.service.ts
  cli/src/database/database.service.ts
  cli/src/interfaces/monitor.interface.ts
  cli/src/modules/monitor/tui/panels/index.ts
  cli/src/modules/monitor/tui/panels/settings.panel.ts
  cli/src/modules/monitor/tui/tui.service.ts
  cli/src/telegram/handlers/index.ts
  cli/src/telegram/handlers/resources.handler.ts
  cli/src/telegram/handlers/restart.handler.ts
  cli/src/telegram/handlers/settings.handler.ts
  cli/src/telegram/handlers/status.handler.ts
  cli/src/telegram/index.ts
  cli/src/telegram/interfaces/telegram.interface.ts
  cli/src/telegram/telegram-alert.service.ts
  cli/src/telegram/telegram-bot.service.ts
  cli/src/telegram/telegram-config.service.ts
  cli/src/telegram/telegram.module.ts
  cli/src/telegram/telegram.service.ts
Due: none

feat: add version check
  cli/package.json
  cli/scripts/release.ts
  cli/src/__tests__/utils/version.spec.ts
  cli/src/cli.ts
  cli/src/commands/update.command.ts
  cli/src/core/constants.ts
  cli/src/main.ts
  cli/src/utils/index.ts
  cli/src/utils/update-checker.ts
  cli/src/utils/version.ts
Due: none

chore(cli): release v1.1.0
  cli/package.json
Due: none

fix(cli): fix TelegramModule dependency and install script
  cli/src/main.ts
  cli/src/telegram/telegram.module.ts
  scripts/install.sh
Due: none

fix: monitor starting
  cli/selfhost-wrapper.sh
  cli/src/__tests__/e2e/commands/status.command.spec.ts
  cli/src/__tests__/unit/utils/yaml.spec.ts
  cli/src/modules/monitor/cluster-client.service.ts
  cli/src/modules/monitor/metrics-stream.service.ts
  cli/src/modules/monitor/monitor.service.ts
  cli/src/modules/monitor/tui/data/metrics-history.service.ts
  cli/src/modules/monitor/tui/ink-tui.service.ts
Due: none

feat(cli): implement monitor enhancement plan
  cli/src/commands/index.ts
  cli/src/commands/node.command.ts
  cli/src/daemon/collectors/index.ts
  cli/src/daemon/collectors/metrics-collector.service.ts
  cli/src/daemon/collectors/prometheus-collector.ts
  cli/src/daemon/daemon-client.service.ts
  cli/src/daemon/daemon-init.service.ts
  cli/src/daemon/daemon.module.ts
  cli/src/daemon/daemon.runner.ts
  cli/src/daemon/http/daemon-server.ts
  cli/src/daemon/http/index.ts
  cli/src/daemon/index.ts
  cli/src/daemon/repositories/index.ts
  cli/src/daemon/repositories/timeseries.repository.ts
  cli/src/daemon/services/index.ts
  cli/src/daemon/services/prediction.service.ts
  cli/src/interfaces/monitor.interface.ts
  cli/src/modules/monitor/apis/interfaces/api.interface.ts
  cli/src/modules/monitor/apis/prometheus.client.ts
  cli/src/modules/monitor/cluster-client.service.ts
  cli/src/modules/monitor/daemon-api.client.ts
  cli/src/modules/monitor/metrics-stream.service.ts
  cli/src/modules/monitor/monitor.module.ts
  cli/src/modules/monitor/tui/components/AlertsPanel.tsx
  cli/src/modules/monitor/tui/components/App.tsx
  cli/src/modules/monitor/tui/components/NodesPanel.tsx
  cli/src/modules/monitor/tui/components/PodDetailPanel.tsx
  cli/src/modules/monitor/tui/components/ServicesPanel.tsx
  cli/src/modules/monitor/tui/components/index.ts
  cli/src/modules/monitor/tui/data/metrics-history.service.ts
  cli/src/modules/monitor/tui/hooks/index.ts
  cli/src/modules/monitor/tui/hooks/useTerminalSize.ts
  cli/src/modules/monitor/tui/index.ts
  cli/src/modules/monitor/tui/utils/index.ts
  cli/src/modules/monitor/tui/utils/text-truncate.ts
  cli/src/modules/node/index.ts
  cli/src/modules/node/node.module.ts
  cli/src/modules/node/node.service.ts
Due: none

fix(security): remediate audit findings - passwords, image tags, security context
  .beads/issues.jsonl
  kubernetes/charts/affine/templates/servicemonitor.yaml
  kubernetes/charts/bytebase/templates/servicemonitor.yaml
  kubernetes/charts/coder/templates/servicemonitor.yaml
  kubernetes/charts/consul/templates/servicemonitor.yaml
  kubernetes/charts/excalidraw/templates/servicemonitor.yaml
  kubernetes/charts/excalidraw/values.yaml
  kubernetes/charts/ghost/templates/servicemonitor.yaml
  kubernetes/charts/glance/templates/servicemonitor.yaml
  kubernetes/charts/hub/templates/servicemonitor.yaml
  kubernetes/charts/hub/values.yaml
  kubernetes/charts/logging/templates/elasticsearch/setup-job.yaml
  kubernetes/charts/logging/values.yaml
  kubernetes/charts/metube/templates/servicemonitor.yaml
  kubernetes/charts/monitoring/values.yaml
  kubernetes/charts/n8n/templates/_helpers.tpl
  kubernetes/charts/n8n/templates/networkpolicy.yaml
  kubernetes/charts/n8n/templates/rbac.yaml
  kubernetes/charts/n8n/templates/servicemonitor.yaml
  kubernetes/charts/n8n/values.yaml
  kubernetes/charts/stalwart/templates/configmap.yaml
  kubernetes/charts/stalwart/templates/servicemonitor.yaml
  kubernetes/charts/stalwart/values.yaml
  kubernetes/charts/stoat/templates/servicemonitor.yaml
  kubernetes/charts/syncthing/templates/servicemonitor.yaml
  kubernetes/charts/teamcity/templates/servicemonitor.yaml
  kubernetes/charts/teamcity/values.yaml
  kubernetes/charts/vaultwarden/templates/servicemonitor.yaml
  kubernetes/charts/vaultwarden/values.yaml
  kubernetes/charts/vert/templates/servicemonitor.yaml
  kubernetes/charts/youtrack/templates/deployment.yaml
  kubernetes/charts/youtrack/templates/servicemonitor.yaml
  kubernetes/charts/youtrack/values.yaml
  kubernetes/charts/zerobyte/templates/cronjob.yaml
  kubernetes/charts/zerobyte/templates/servicemonitor.yaml
Due: helm-lint, kubeval

fix(cli): resolve TypeScript errors and complete all CLI tasks
  .beads/issues.jsonl
  cli/package.json
  cli/src/__tests__/mocks/database.mock.ts
  cli/src/__tests__/unit/database/database.service.spec.ts
  cli/src/__tests__/unit/database/entities/deployment.entity.spec.ts
  cli/src/__tests__/unit/database/entities/machine.entity.spec.ts
  cli/src/__tests__/unit/database/entities/metric.entity.spec.ts
  cli/src/__tests__/unit/database/entities/service-config.entity.spec.ts
  cli/src/__tests__/unit/interfaces/machine.interface.spec.ts
  cli/src/__tests__/unit/interfaces/monitor.interface.spec.ts
  cli/src/database/database.service.ts
  cli/src/database/repositories/deployment.repository.ts
  cli/src/database/repositories/machine.repository.ts
  cli/src/database/repositories/metric.repository.ts
  cli/src/database/repositories/service-config.repository.ts
  cli/src/modules/balancing/balancing.service.ts
  cli/src/modules/monitor/apis/endpoint-checker.ts
  cli/src/modules/monitor/apis/prometheus.client.ts
  cli/src/modules/monitor/apis/vault.client.ts
  cli/src/modules/monitor/tui/ink-tui.service.ts
  cli/src/modules/monitor/tui/tui.service.ts
  cli/src/modules/ui/table.service.ts
Due: none

Path conditions:
  helm-lint: any of: ^kubernetes/charts/.+/(Chart\.yaml|values\.yaml|templates/.+\.yaml)$
  kubeval: any of: ^kubernetes/charts/.+/templates/.+\.yaml$
  ansible-syntax: any of: ^ansible/.+\.yml$
  sops-check: any of: ^kubernetes/envs/.+/secrets/.+\.yaml$
